<div class="jumbotron">
  <h1 class="display-3">Hello, {{user.username}}!</h1>
  <p class="lead">Welcome to your Profile Page</p>
  <hr class="my-4">
  <p>
User Name: {{user.user_id}}<br/>
Name: {{user.name }}<br/>
Age: {{user.age}}<br/></p>
Gender: {{user.gender}}<br/></p>
Profession: {{user.occupation}}<br/>
Location: {{user.location}}<br/>
orientation: {{user.orientation}}<br/>
Locations: {{user.location_pref}}<br/>
Connections: {{user.connections}}<br/>

{{!--   <p class="lead">
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
  </p> --}}
</div>